/* basic styles */
:root {
    /* Colors */
    --midnight-blue: #004d80;
    --sky-blue: #5b92cd;
    --calm-blue: #a5c3e6;
    --seagrass-green: #009e4b;
    --compass-yellow: #ffd576;
    --white: #ffffff;
    --black: #000000;
    
    --headings: var(--midnight-blue);
    --header-bg: var(--midnight-blue);
    --header-text: var(--white);
    --block-bg: var(--calm-blue);
    --text: var(--black);
    
    --highlight-bg: var(--compass-yellow);
    --highlight-text: var(--black);
  }

  #content * {
    font-family: "DM Sans";
    font-weight: normal;
  }

  #content h1 {
    font-family: "Poppins";
    font-weight: bold;
    text-transform: uppercase;
    color: var(--headings);
    font-size: 3rem;
    width: 75%;
  }

  div#page > div#content > div:nth-of-type(1) {
    color: var(--text) !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
  }

/* report part adjustments */
div.report_container div.report_part:nth-child(n+2) div.report_rows_static {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>table {
    display: none;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row:not([data-type = "content"]) {
    margin: 0;
    box-sizing: border-box;
    border: 3px solid var(--block-bg);
    background: var(--block-bg);
    border-radius: 5px;
    padding: 2em;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row:not([data-type = "content"]) * {
    background: var(--block-bg);
    border-color: var(--block-bg);
  }
  
  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row.highlight {
    border: 3px solid var(--highlight-bg);
    background: var(--highlight-bg);
  }
  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row.highlight * {
    background: var(--highlight-bg);
    border-color: var(--highlight-bg);
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row th span {
    background: var(--header-bg);
    border-color: var(--header-bg);
    color: var(--header-text);
    display: block;
    margin: 0;
    width: 100%;
    padding: 4px 8px;
  }

  /* query display */
    /* make the display of the query name into a heading */
  div.report_container div.report_part[data-type="query"]>table thead tr.header {
      background: #ffffff;
      border-color: #ffffff;
  }

  div.report_container div.report_part[data-type="query"]>table thead tr.header th {
      background: #ffffff;
      border-color: #ffffff;
      font-family: "Poppins" !important;
      color: var(--headings);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;
  }

  div.report_container div.report_part[data-type="query"]>table thead tr.header th span.report_export {
      display: none;
  }

  /* page breaks */
  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row[data-type="pagebreak"] {
    width: 100%;
    padding: 0;
    background: #ffffff;
    border-color: #ffffff;
  }
  /* section titles */
  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row[data-type="title"] {
    width: 100%;
    padding: 0;
    background: #ffffff;
    border-color: #ffffff;
  }
  #content div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row[data-type="title"] h2 {
    color: var(--headings);
    font-size: 1.2rem;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    border-color: #ffffff;
  }

  /* readability on pdf */
  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row[data-type="table"] * {
    font-size: 1.05em;
  }

  .report_row[data-type="table"].stack1 {width: calc(100% - 10px);}
  .report_row[data-type="table"].stack2 {width: calc(50% - 10px);}
  .report_row[data-type="table"].stack3 {width: calc(33% - 10px);}
  .report_row[data-type="table"].stack4 {width: calc(25% - 10px);}

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row>table>colgroup>col:nth-child(1) {
    width: 100%;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row>table>thead>tr.column>th span.report_export {
    display: none;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row>table>tbody>tr>td {
    display: block;
    border: 0;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row>table>tbody>tr>td:nth-child(1) {
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }

  div.report_container div.report_part:nth-child(n+2) div.report_rows_static>div.report_row>table>tbody>tr>td:nth-child(2) {
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
  }

/* header logo */
   #content {
      position: relative; /* needed for absolute positioning */
    }

    #content::after {
      content: url("https://postcaptain.com/wp-content/uploads/2024/05/PostCaptainConsulting_Logo.svg"); 
      position: absolute;
      top: 8px;
      right: 8px;
      width: 250px;   /* scale */
      height: auto;
    }
